@{
    ViewBag.Title = "Polibius Cipher";
}

<h1 style="text-align: center">Szyfr Polibiusza</h1>
<br/>
<form asp-action="EncryptDecrypt" asp-controller="Polibius">
    <div class="form-group">
        <textarea name="text" id="text" class="form-control" rows="3" placeholder="wprowadź tekst">@ViewBag.Result</textarea>
    </div>
    
    <br/>
    
    <div class="form-group">
        <label >Wczytaj ciąg liter do tablicy Polibiusza:</label>
        <input name="stringTable" id="stringTable" class="form-control" value=" @ViewBag.Table" placeholder="kliknij ZRESETUJ, aby wczytać wartości domyślne">
    </div>
    
    <br/>
    
    <div style="text-align: center">
        <button type="submit" class="btn btn-primary" asp-action="SetPolibiustable">Wczytaj / zresetuj</button>
    </div>
    
    <br/>
    
    <table class="table table-bordered polibiusTable">
        @for (int i = 0; i < 5; i++)
        {
            <tr>
            @for (int j = 0; j < 7; j++)
            {
                <td><input type="text" name="v[@(i*7+j)]" value="@ViewBag.PolibiusMatrix[i, j]" maxlength="1" size="1"/></td>
            }
            </tr>
        }
    </table>
    @if (ViewBag.DangerText != null)
    {
        <div class="text-danger">
            <p>@ViewBag.DangerText</p>
        </div>
    }
    
    <div style="text-align: center">
        <button type="submit" class="btn btn-primary" name="action" value="encrypt">Szyfruj</button>
        <button type="submit" class="btn btn-primary" name="action" value="decrypt">Deszyfruj</button>
    </div>
</form>

<br/>

@if (ViewBag.Result != null)
{
    <div class="result">
        <h3>Wynik: </h3><p>@ViewBag.Result</p>
    </div>
}